.logout-btn{
    position: absolute;
    left: 38%;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px; 
    border-radius: 0px 4px 4px 0px;
    background: #ff1111;
    border: none;
    align-items: center;
    justify-content: center;
    width: 24%;
    text-align: center;
}

.logout-btn a{
    text-decoration: none;
    color: white;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 100%;
}

.card-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 70%;
}

.event-img img {
    max-width: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.event-info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: start;
    text-align: left;
    

}

.event-info a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
}

.event-info p {
    margin: 5px 0;
    color: #666;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    align-items: flex-end;
}

.event-btns a {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #ff1111;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.event-btns a:hover {
    background-color: #0056b3;
}
.profile{
    display: flex;
    gap: 50px;
}
.profile-img img{
    width: 70px;
    height: 70px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info p {
    margin: 5px 0;
    font-size: 16px;
}

.profile-info span {
    font-weight: bold;
}

.add-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Roboto;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.add-btn:hover {
    background-color: #45a049;
}

#prof_title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
}